<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师列表条目</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div class="teacher-item">
    <div class="intro">
        <div class="message">
            <img class="t-header" src="../../assets/images/zsf.jpg" alt="">
            <div class="t-profile">
                <p class="position-name is-star">
                    携程CTO: 张三丰
                </p>
                <p class="class-count">课程: 100 门</p>
            </div>
        </div>
        <a class="to-detail" href="#">进入主页</a>
    </div>
    <div class="desc">
        <p>这是人是个人才!</p>
    </div>
</div>

</body>
</html>