<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程播放-容器组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="play-container">
    <div class="left">
        <div class="top">
            <a href="#" class="back-course">返回课程主页</a>
            <span class="pre-course">

            </span>
        </div>
        <div class="play-pane">
            <p class="class-title">极系列-H5-第一节课</p>
            <div class="player">

            </div>
        </div>
        <div class="bottom">
            <span class="next-course">

            </span>
        </div>
    </div>
    <div class="right">
        <div class="title">
            课程目录
        </div>
        <div class="items">
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
            <p>撩课-sz</p>
        </div>
    </div>
</div>


</body>
</html>