<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻条目</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="article-item">
    <div class="top">
        <a href="#" class="title">撩课学院-极系列课程撩课学院</a>
        <span class="time">2020年11月19日 09:54:59</span>
    </div>
    <div class="bottom">
        撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程
    </div>
</div>

</body>
</html>