<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学院新闻组件-组装</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>


<div class="section bx">
    <div class="title-bar">
        <h5 class="title">- 学 . 院 . 新 . 闻 -</h5>
        <a href="#" class="more">更多&gt;</a>
    </div>
    <div class="container">
        <div class="column2 news-card">
            <ul>
                <li>
                    <a href="#">撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
            </ul>
        </div>
        <div class="column2 news-card">
            <ul>
                <li>
                    <a href="#">撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
                <li>
                    <a href="#">撩课学院-极系列课程</a>
                    <span>2020年12月12日 12:12:00</span>
                </li>
            </ul>
        </div>
    </div>
</div>



</body>
</html>